@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes bg-change {
      0% { background-image: url('/london.jpg'); }
      25% { background-image: url('/newyork.jpeg'); }
      50% { background-image: url('/paris.jpg'); }
      75% { background-image: url('/toronto.jpg'); }
      100% { background-image: url('/london.jpg'); }
    
    }

    .bg-animation {
      animation: bg-change 20s infinite;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
  }
